ebin/
deps/
/doc/*.html
/doc/edoc-info
/doc/erlang.png
/doc/stylesheet.css
.eunit/
.rebar/
log/
logs/
test/*.beam
test/Mnesia*
Mnesia*
site/*.html
.erlang.mk.packages.*
navidb.d
.erlang.mk/
kerl
rebar
