{erl_opts, [debug_info, {d, 'TEST', true}]}.
{erl_opts, [
    debug_info,
    warnings_as_errors,
    warn_export_vars,
    {parse_transform, lager_transform},
    {platform_define, "^(17)", coding_utf8}
]}.

{deps, [
    {lager,   ".*", {git, "git://github.com/basho/lager.git",          {branch, "master"}}},
    {mongodb, ".*", {git, "git://github.com/baden/mongodb-erlang.git", {branch, "refresh"}}}
    % {meck,  ".*", {git, "git://github.com/eproxus/meck.git",         {tag, "0.8.2"}}}
]}.
{ct_extra_params, "-erl_args -config test/test.config"}.
{cover_enabled, true}.
