%% Copyright (C) 2013 Baden (baden.i.ua@gmail.com).
%% -*- mode: erlang -*-
{require_otp_vsn, "17"}.
{erl_opts, [
    debug_info,
    warnings_as_errors,
    % fail_on_warning,
    % warn_format,
    warn_export_vars,
    % warn_exported_vars,
    % warn_obsolete_guard,
    % warn_bif_clash,
    % warn_unused_vars,
    % warn_unused_import,
    % {src_dirs, ["src", "test"]},
    % {i, ["include"]},
    {parse_transform, lager_transform},
    % {platform_define, "^17", no_binary_to_integer},
    % {platform_define, "^[0-9]+", namespaced_dicts},
    {platform_define, "^(17)", coding_utf8}
]}.

%{deps_dir, ["deps"]}.
%{lib_dirs, ["../../apps"]}.

{deps, [
    {lager,   ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}},
    {mongodb, ".*", {git, "https://github.com/baden/mongodb-erlang.git", {branch, "refresh"}}}
    % {meck,        ".*", {git, "https://github.com/eproxus/meck.git",   {tag, "0.8.2"}}}
]}.

{cover_enabled, true}.
{clean_files, ["logs/*", "test/*.beam", "doc/*.html", "doc/erlang.png", "doc/stylesheet.css", "doc/edoc-info", "site/*.html"]}.
